body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

header {
    background: #0072ff;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    color: #0072ff;
}

ul {
    list-style: square;
}

footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}